{% extends 'comparison/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

</head>
<body>
{% block content %}
    <h2>Comparison according to your set preferences</h2>
    <br>
    <br>
    <div>
        <table style="width:100%; border: 2px solid black;">
            <tr>
                <th></th>
                {% for x in chipset_name %}
                    <th style="border: 2px solid black;">{{ x.chipset_name }}</th>
                {% endfor %}
            </tr>


            <tr>
                {% for value in final_values %}
                    {% for m in value %}
                        <td style="border: 2px solid black;">{{ m }}</td>
                    {% endfor %}
                    </tr>

                {% endfor %}
        </table>
        <br><br>

    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable({{ test1|safe }});

            var options = {
                title: 'Comparison for Benchmarks of different Chipsets',
                vAxis: {title: 'Value'},
                hAxis: {title: 'Chipsets'},
                seriesType: 'bars',
                //series: {0: {type: 'line'}}
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>

{% endblock %}

</body>
</html>