{% extends 'comparison/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
{% block content %}
    {% if user.is_authenticated %}
        <h2 style="margin-top: 70px"><strong>Hello </strong> {{ user.first_name }} :)</h2>

        <h3>All the chipset names are here that can be compared as required.</h3>
        <form action="/" method="post" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <hr>
                {{ field.label_tag }}
                <div class="multiselect-container">
                    {{ field }}
                </div>
            {% endfor %}
            <br>

            <button class="btn-save btn btn-primary btn-sm" type="submit" name="submit" value="submit">Submit</button>
        </form>
    {% else %}
        <p>Welcome to the SPT Auto Dashboard Portal...</p>
        <br>
        <p>Please Register or Login to access the database...</p>
        <a href="{% url 'comparison:login' %}">Login</a>
    {% endif %}

{% endblock %}

</body>
</html>