{% extends 'comparison/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td, th {
            border: 1px solid black;
            width: 100px;
        }

        #table2 {
            border-collapse: collapse;
            float: left;
            margin-left: 80px;
        }

        .center {
            margin-left: 270px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
{% block content %}
    <div style="margin-top: 100px">
        <div class="center">
            <h2>All Users</h2>
            <table id="table2" style="width:30%; border: 2px solid black;">
                <tr>
                    <th style="border: 2px solid black;">Name</th>
                    <th style="border: 2px solid black;">Email</th>
                </tr>
                <tr>
                    {% for value in users %}
                        {% for m in value %}
                            <td style="border: 2px solid black;">{{ m }}</td>
                        {% endfor %}
                        </tr>

                    {% endfor %}
            </table>
            <br>
            <hr>
            <br>
            <h2>Superusers</h2>
            <table id="table2" style="width:30%; border: 2px solid black;">
                <tr>
                    <th style="border: 2px solid black;">Name</th>
                    <th style="border: 2px solid black;">Email</th>
                </tr>
                <tr>
                    {% for value in superusers %}
                        {% for m in value %}
                            <td style="border: 2px solid black;">{{ m }}</td>
                        {% endfor %}
                        </tr>

                    {% endfor %}
            </table>
            <br>
            <hr>
            <br>
            <h2>Partial Users</h2>
            <table id="table2" style="width:30%; border: 2px solid black;">
                <tr>
                    <th style="border: 2px solid black;">Name</th>
                    <th style="border: 2px solid black;">Email</th>
                </tr>
                <tr>
                    {% for value in staff %}
                        {% for m in value %}
                            <td style="border: 2px solid black;">{{ m }}</td>
                        {% endfor %}
                        </tr>

                    {% endfor %}
            </table>
            <br>
            <hr>
            <br>
            <h2>Normal Users</h2>
            <table id="table2" style="width:30%; border: 2px solid black;">
                <tr>
                    <th style="border: 2px solid black;">Name</th>
                    <th style="border: 2px solid black;">Email</th>
                </tr>
                <tr>
                    {% for value in normal_user %}
                        {% for m in value %}
                            <td style="border: 2px solid black;">{{ m }}</td>
                        {% endfor %}
                        </tr>

                    {% endfor %}
            </table>
        </div>

        <hr>
    </div>

{% endblock %}
</body>
</html>